Week 6/code_review_pipeline.json
{
    "name": "Code Review Pipeline — Ollama + n8n",
    "nodes": [
        {
            "id": "node-webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "code-review",
                "responseMode": "responseNode",
                "options": {}
            },
            "webhookId": "code-review-pipeline"
        },
        {
            "id": "node-read-files",
            "name": "Read Source Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                280,
                300
            ],
            "parameters": {
                "jsCode": "code"
            }
        },
        {
            "id": "node-analyzer",
            "name": "Analyzer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                560,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "http://localhost:11434/api/chat",
                "sendHeaders": false,
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "json",
                "options": {}
            }
        },
        {
            "id": "node-reviewer",
            "name": "Reviewer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                840,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "http://localhost:11434/api/chat",
                "sendHeaders": false,
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "json",
                "options": {}
            }
        },
        {
            "id": "node-suggester",
            "name": "Suggester",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "http://localhost:11434/api/chat",
                "sendHeaders": false,
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "json",
                "options": {}
            }
        },
        {
            "id": "node-summarizer",
            "name": "Summarizer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "http://localhost:11434/api/chat",
                "sendHeaders": false,
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "json",
                "options": {}
            }
        },
        {
            "id": "node-build-report",
            "name": "Build Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1680,
                300
            ],
            "parameters": {
                "jsCode": "code"
            }
        },
        {
            "id": "node-respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1960,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Read Source Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Source Files": {
            "main": [
                [
                    {
                        "node": "Analyzer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyzer": {
            "main": [
                [
                    {
                        "node": "Reviewer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reviewer": {
            "main": [
                [
                    {
                        "node": "Suggester",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Suggester": {
            "main": [
                [
                    {
                        "node": "Summarizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Summarizer": {
            "main": [
                [
                    {
                        "node": "Build Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Report": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "id": "code-review-pipeline",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "local"
    }
}